name: Image Build and Push

on:
  push:
    branches:
      - main
      - feature/*
      - '*'

jobs:
  code-scanning:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: python
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
  build-and-push:
    runs-on: ubuntu-latest
    needs: code-scanning
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push the Docker image
        run: |
          TIMESTAMP=$(date +%s)
          docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/py_bookstore-api:$TIMESTAMP
          docker push ${{ secrets.DOCKER_USERNAME }}/py_bookstore-api:$TIMESTAMP