name: Deploy to Staging

on:
  workflow_call:
    inputs:
      IMAGE_TAG:
        description: 'Image tag to deploy'
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: staging
    steps:
      - uses: helm/helm-action@v3
        with:
          helm-version: 'v3'
          command: upgrade --install py-bookstore-api ./helm --set image.repository=${{ secrets.DOCKER_USERNAME }}/py_bookstore-api --set image.tag=${{ github.event.inputs.IMAGE_TAG }}
          kubeconfig: ${{ secrets.KUBE_CONFIG_STAGING }}